* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bolder;
}
/* .hide {
    display: none;
} */
body {
    background-image: linear-gradient(
        to top,
        rgba(255, 0, 0, 0.86),
        rgba(255, 100, 0, 0.86),
        rgba(255, 200, 0, 0.86),
        rgba(72, 255, 0, 0.8),
        rgba(0, 136, 255, 0.86),
        rgba(38, 0, 255, 0.86),
        rgba(212, 0, 255, 0.86)
    ) 
}
header {
    background-color: black;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    background-color: gold;
    padding: 10px;
}

#batman {
    position: fixed;
    height: 50px;
}

#quizzle {
    position: relative;
    height: 100px;
    display: float-inline;
}

#highscoreLink {
    font-size: medium;
    font-weight: bolder;
}

.timerContainer {
    display: flex;
    justify-content: center;
    background-color: gold;
    font-size: 25px;
    width: 100%;
}

#welcomeContainer {
    display: relative;
    background-color: black;
    color: white;
    /* border-radius: 15px; */
    margin-left: 26%;
    /* margin-right: 26%; */
    margin-top: 10%;
    margin-bottom:10%;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 45%;
    font-size: larger;
}

p {
    font-size: large;
}

#quizzleMe {
    color: black;
    background-color: gold;
    width: 100%;
    font-weight: bolder;
    font-style: italic;
    padding: 20px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
}

#startBtn {
    font-size: medium;
    font-weight: bolder;
}

#timer {
    background-color: gold;
    /* border-top-right-radius: 30px;
    border-top-left-radius: 30px; */
    color: black;
}

.topic {
    font-size: xx-large;
}

#quizContainer {
    background-color: black;
    color: gold;
    width: 40%;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5px;
    align-items: center;
    /* border-radius: 30px; */
}

#choice_i {
    color: gold;
}

.choice {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-style: oblique;
    padding: 10px;
}

.list {
    list-style: none;
}
/* #scoreContainer {

} */
#startBtn {
    font-size: larger;
    font-weight: bold;
}

#highscoreModal {
    background-color: black;
    color: gold;
    width: 33%;
    height: 33%;
    /* border-radius: 15px; */
}

button {
    background-color: gold;
    border-radius: 20px;
    color: black;
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: black;
    color: gold;
    justify-content: flex-end;
    margin-bottom: 0%;
}